body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto auto auto auto 1fr auto;
    min-height: 100vh;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    background-color: #face77;
    align-items: center;
    gap: 1em;
  }
  
  h1:first-of-type,
  header h2 {
    margin-left: 40px;
  }
  
  header h2 img {
    width: 55px;
    aspect-ratio: 1;
  }
  
  header p {
    font-size: 18px;
  }
  
  .button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #face77;
    font-weight: bold;
    font-size: 16px;
    border: transparent;
  }
  
  .btnfield {
    margin-inline: auto 2em;
  }
  
  .favourite {
    text-indent: max(100px, 15vw);
  }
  
  .hardcoded {
    display: flex;
    gap: min(4.5vw, 80px);
    margin-inline: 2.5vw;
    margin-top: 2rem;
    justify-content: center;
  }
  
  .hardcoded p {
    margin-left: 25px;
  }
  
  .list {
    margin-bottom: 5px;
    margin-top: 10px;
  }
  
  .inputform {
    display: none;
    margin: auto auto 1em max(100px, 15vw);
  }
  
  .form {
    display: grid;
    gap: 5px;
    margin-top: 2.5em;
  }
  
  footer p {
    margin: .5em ;
    font-size: 12px;
    margin-top:10em;
  }
  
  #btnadd {
    font-weight: bold;
    font-size: 16px;
    margin-left: 45px;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #face77;
    max-width: 70px;
    border: transparent;
  }